/*RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-family: 'Raleway', sans-serif;
	/*vertical-align: baseline;*/
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	transition: all 0.2s linear;
}

a:hover, a:focus {
	transition: all 0.3s linear;
}

/*COLOR*/

@color_white: #fff;

@color_black: #000;

@color_grafite: #282727; 

@color_gray_default: #6d6d6d;

//Color Fundo LINK
@color_bg_bt_default: #b21736;

@color_red_default: #b21e37;

/*FIM COLOR*/


/*FIM RESET*/

.container {
	width: 100%;
	max-width: 940px;
	height: auto;
	padding: 0 15px 0 15px;
	margin: 0 auto;
	display: block;
}

/*SECTIONS*/

.newsletter, 
.relatorio, 
.informacoes, 
.conheca {
	width: 100%;
	height: auto;
}

.newsletter {
	background: url('../img/bg1.jpg'); 
}

.relatorio {
	background-color: @color_grafite;
}

.conheca {
	background: url('../img/bg2.jpg') left top;
	background-size: cover; 
}

footer {
	background-color: @color_black;
}



header {
	width: 100%;
	min-height: 130px;
	overflow: hidden;

	div {
		margin-top: 35px;
	}

	.logo {
		width: 100%;
		max-width: 240px;
		float: left;

		img {
			width: 100%;
			max-width: 200px;
		}
	}

	.navegacao {
		width: 100%;
		max-width: 700px;
		float: left;

		.menu-principal-container {
			margin: 0 0 0 0;
			padding: 0 0 0 0;

			ul {
				margin-top: 22px;

				li {
					display: inline-block;

					a {
						color: @color_black;
						font-size: 15px;
						text-decoration: none;
						font-weight: 600;
						padding: 10px;

						&:hover {
							color: @color_red_default;
						}
					}
				}
				
			}
		}

	}
}

.newsletter {
	overflow: hidden;
	height: auto;
	padding: 100px 0 75px 0;
	text-align: center;
	z-index: 1000!important;

	h2 {
		width: 100%;
		max-width: 680px;
		font-size: 42px;
		font-weight: 600;
		color: @color_white;
		margin: 0 auto;
	}

	p {
		width: 100%;
		max-width: 340px;
		font-size: 21px;
		color: @color_white;
		margin: 0 auto;
		padding: 50px 0 50px 0;
	}

	input {
		width: 460px;
	    height: 68px;
	    border: none;
	    margin: -3px 0 0 0;
	    font-size: 18px;
	    padding: 0 20px 0 20px;

	    &::placeholder {
	    	color: @color_red_default;
	    }
	}

	button {
		width: 230px;
		height: 70px;
		border: none;
		background-color: @color_bg_bt_default;
		color: @color_white;
		font-size: 18px;
		padding: 0 0 0 0;
		margin:0 0 -10px 0;
	}

	// .bt-meio {
	// 	position: absolute;
	//     bottom: -10px;
	//     width: 55px;
	//     height: 55px;
	//     background-color: #fff;
	//     border-radius: 100px;
	//     /* margin-bottom: -85px; */
	//     margin-left: 50%;
	//     z-index: 99999;
	//     text-align: center;

	//     i {
	//     	font-size: 30px;
	// 		margin: 0 auto;
	// 		font-weight: 500;
	// 		padding: 12px 0 0 0;
	// 		color: @color_red_default;
	//     }
		
	// }
	
}

.bt-meio {
	margin-top: -28px;
	margin-bottom: -27px;
    width: 55px;
    height: 55px;
    background-color: #fff;
    border-radius: 100px;
    /* margin-bottom: -85px; */
    margin-left: 50%;
    z-index: 99999;
    text-align: center;

    i {
    	font-size: 30px;
		margin: 0 auto;
		font-weight: 500;
		padding: 12px 0 0 0;
		color: @color_red_default;
    }
	
}

.relatorio {
	width: 100%;
	overflow: hidden;
	height: auto;
	padding: 80px 0 80px 0;
	z-index: -10!important;
	position: relative;

	

	h2 {
		font-size: 41px;
		color: @color_white;
		font-weight: 800;
		text-transform: uppercase;
		padding: 0 0 20px 0;
	}

	p {
		max-width: 920px;
		font-size: 21px;
		color: @color_white;
		line-height: 2;
	}
}

.informacoes {
	width: 100%;
	overflow: hidden;
	height: auto;
	padding: 80px 0 45px 0;
	position: relative;

	h2 {
		font-size: 41px;
		color: @color_red_default;
		font-weight: 800;
		padding: 0 0 20px 0;
		text-transform: uppercase;
	}

	h3 {
		font-size: 29px;
		font-weight: 600;
		color: @color_gray_default;
		padding: 20px 0 20px 0;
		text-transform: uppercase;
	}

	p {
		font-size: 21px;
		color: @color_gray_default;
		padding: 20px 0 20px 0;
	}

	a {
		max-width: 240px;
		padding: 15px 20px;
		height: auto;
		background-color: @color_bg_bt_default;
		color: @color_white;
		font-size: 21px;
		text-decoration: none;
		font-weight: 600;
		display: block;
		text-align: center;
		margin: 100px auto 0 auto;

		i {
			font-size: 21px;
			margin-right: 10px;
			font-weight: 500;
		}
	}
}

.conheca {
	width: 100%;
	overflow: hidden;
	height: auto;
	padding: 80px 0 45px 0;
	position: relative;

	h2 {
		font-size: 29px;
		color: @color_white;
		text-transform: uppercase;
		line-height: 1.5;
	}

	p {
		max-width: 575px;
		font-size: 21px;
		color: @color_white;
		margin-bottom: 75px;
		line-height: 1.5;
	}

	a {
		width: 100%;
		max-width: 240px;
		color: @color_white;
		text-decoration: none;
		height: auto;
		background-color: @color_bg_bt_default;
		display: block;
		text-align: center;
		font-size: 21px;
		font-weight: 600;
		padding: 15px;
	}
}

footer {
	width: 100%;
	overflow: hidden;
	height: auto;
	padding: 30px 0 50px 0;
	position: relative;

	p {
		font-size: 12px;
		color: @color_white;
		padding: 40px 0 0 0;
		line-height: 1.5;
	}

	.info {
		float: left;
		margin-bottom: 30px;

		h4 {
			color: @color_white;
			font-size: 18px;
			text-transform: uppercase;
		}

		p {
			padding:15px 0 0 0!important;
		}
	}

	.endereco {
		width: 100%;
		max-width: 450px;

		p {
			max-width: 320px;
			font-size: 14px;

			i {
				font-size: 40px;
				float: left;
				padding-right: 10px;
				color: @color_red_default;
			}

		}
	}

	.sociais {
		width: 100%;
		max-width: 230px;

		ul {
			margin-top: 20px;

			li {
				display: inline;
				border:1px solid @color_white;
				text-align: center;
				padding: 3px;
				margin:0px; 

				a {
					color: @color_white;
					font-size: 16px;
					text-decoration: none;
				}
			}
		}
	}

	.sobre {
		width: 100%;
		max-width: 250px;

		p {
			max-width: 160px;
		}
	}

	.informacoes-rodape {
		padding-top: 40px;
	}

	
}


@media only screen and (max-width : 320px) {
    
	h2, h3, h4, p {
		max-width: 310px!important;
	}


	.newsletter {

		input {
			max-width: 310px!important;
			margin-bottom: 20px;
		}
	}
}


@media only screen and (max-width : 480px) {

	header {

		.logo {
			width: 100%;
			max-width: 350px!important;
			text-align: center;
		}

		ul {

			li {
				width: 100%;
				display: block;
				text-align: center;
				padding: 10px 0 10px 0;
			}
		}
	}
	
	h2, h3, h4, p {
		max-width: 350px!important;

	}

	.newsletter {

		input {
			max-width: 270px!important;
			margin-bottom: 20px;
		}
	}


}


@media only screen and (max-width : 768px) {
	

	header {

		.logo {
			width: 100%;
			max-width: 650px!important;
			text-align: center;
		}

		ul {
			margin-bottom: 30px;
			
		}
	}
	
}

@media only screen and (max-width : 980px) {
	header {
		width: 100%;
		text-align: center;

		.logo {
			width: 100%;
			max-width: 850px!important;
			text-align: center;
		}

		.navegacao {
			width: 100%;
			overflow: hidden;

			ul {
				max-width: 700px;
				margin: 0 auto 30px auto;
				
			}
		}
		
	}
}